/* resetting browser stuff */
*     {
  box-sizing: border-box;
}
html,
body   {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}


/* styling our overall page */
body     {
  background: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

/* styling our header */
header   {
  background: #000000;
  color: #FFF;
  padding: 20px 30px;
}

/* logo */
#logo         {
  display: inline-block;
  color: #f5f5f5;
  text-decoration: none;
  width: 49%;
}
#logo img    {
  width: 50px;
  border-radius: 3px;
  margin-right: 8px;
  vertical-align: middle;
}
#logo span   {
  display: inline-block;
}

/* main navigation */
nav     {
  width: 50%;
  display: inline-block;
  text-align: right;
}
nav ul   {
  list-style: none;
  margin: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a    {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s ease all;
}
nav ul li a:hover   {
  background: #444;
}

/* styling our footer */
footer   {
  background: #000000;
  color: #777;
  padding: 40px;
  text-align: center;
}
footer img   {
  display: block;
  border-radius: 5px;
  width: 80px;
  margin: 0 auto 10px;
}

footer img {
    display: block;
    border-radius: 5px;
    width: 80px;
    margin: 0 auto 10px;
}

footer span {
    font-size: 18px;
}







/* Three image containers  */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}



.container2 {
    width: 100%;
    height: auto;
    padding: 1%;
    display: flex;
}

.text-container {
    font-size: 0.6em;
    color: rgb(0, 0, 0);
    float: left;
    margin-left: 5px;
}

p {
    color: rgb(0, 0, 0);
    font-size: larger;
    border: 2px solid rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    padding: 20px;
    text-align: center;
}


.tryy {
  display: grid;
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  font: 500 100%/1.5 system-ui;
}
img {
  max-width: 100%;
  height: auto;
} 
@media (max-width: 650px) {
  body {
    display: block;
    font-size: 80%;
  }
  p {
    position: relative;
    margin: -3rem 0 2rem 1rem;
    padding: 1rem;
    background: rgba(white, 0.8);
  }
}

